interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-NY/recent?back=30&cat=species&hotspot=true
  response:
    body:
      string: "[{\"speciesCode\":\"bkcchi\",\"comName\":\"Black-capped Chickadee\",\"sciName\":\"Poecile
        atricapillus\",\"locId\":\"L17261107\",\"locName\":\"Alley Pond Park--Alley
        Athletic Fields\",\"obsDt\":\"2024-11-25 12:35\",\"howMany\":2,\"lat\":40.739852,\"lng\":-73.73623,\"obsValid\":true,\"obsReviewed\":false,\"locationPrivate\":false,\"subId\":\"S203597241\"},{\"speciesCode\":\"daejun\",\"comName\":\"Dark-eyed
        Junco\",\"sciName\":\"Junco hyemalis\",\"locId\":\"L17261107\",\"locName\":\"Alley
        Pond Park--Alley Athletic Fields\",\"obsDt\":\"2024-11-25 12:35\",\"howMany\":9,\"lat\":40.739852,\"lng\":-73.73623,\"obsValid\":true,\"obsReviewed\":false,\"locationPrivate\":false,\"subId\":\"S203597241\"},{\"speciesCode\":\"amerob\",\"comName\":\"American
        Robin\",\"sciName\":\"Turdus migratorius\",\"locId\":\"L17261107\",\"locName\":\"Alley
        Pond Park--Alley Athletic Fields\",\"obsDt\":\"2024-11-25 12:35\",\"howMany\":11,\"lat\":40.739852,\"lng\":-73.73623,\"obsValid\":true,\"obsReviewed\":false,\"locationPrivate\":false,\"subId\":\"S203597241\"},{\"speciesCode\":\"eursta\",\"comName\":\"European
        Starling\",\"sciName\":\"Sturnus vulgaris\",\"locId\":\"L17261107\",\"locName\":\"Alley
        Pond Park--Alley Athletic Fields\",\"obsDt\":\"2024-11-25 12:35\",\"howMany\":12,\"lat\":40.739852,\"lng\":-73.73623,\"obsValid\":true,\"obsReviewed\":false,\"locationPrivate\":false,\"subId\":\"S203597241\",\"exoticCategory\":\"N\"},{\"speciesCode\":\"whtspa\",\"comName\":\"White-throated
        Sparrow\",\"sciName\":\"Zonotrichia albicollis\",\"locId\":\"L17261107\",\"locName\":\"Alley
        Pond Park--Alley Athletic Fields\",\"obsDt\":\"2024-11-25 12:35\",\"howMany\":14,\"lat\":40.739852,\"lng\":-73.73623,\"obsValid\":true,\"obsReviewed\":false,\"locationPrivate\":false,\"subId\":\"S203597241\"},{\"speciesCode\":\"blujay\",\"comName\":\"Blue
        Jay\",\"sciName\":\"Cyanocitta cristata\",\"locId\":\"L17261107[...]
