interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-AL/recent?back=30&cat=species&hotspot=true
  response:
    body:
      string: "[{\"speciesCode\":\"whtspa\",\"comName\":\"White-throated Sparrow\",\"sciName\":\"Zonotrichia
        albicollis\",\"locId\":\"L732587\",\"locName\":\"Hays Nature Preserve (NABT
        30)\",\"obsDt\":\"2024-11-25 16:33\",\"howMany\":2,\"lat\":34.6442066,\"lng\":-86.4662004,\"obsValid\":true,\"obsReviewed\":false,\"locationPrivate\":false,\"subId\":\"S203625651\"},{\"speciesCode\":\"swaspa\",\"comName\":\"Swamp
        Sparrow\",\"sciName\":\"Melospiza georgiana\",\"locId\":\"L732587\",\"locName\":\"Hays
        Nature Preserve (NABT 30)\",\"obsDt\":\"2024-11-25 16:33\",\"howMany\":1,\"lat\":34.6442066,\"lng\":-86.4662004,\"obsValid\":true,\"obsReviewed\":false,\"locationPrivate\":false,\"subId\":\"S203625651\"},{\"speciesCode\":\"wooduc\",\"comName\":\"Wood
        Duck\",\"sciName\":\"Aix sponsa\",\"locId\":\"L732587\",\"locName\":\"Hays[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-AK[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-AZ[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-AR[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-CA[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-CO[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-CT[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-DE[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-FL[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-GA[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-HI[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-ID[...]
