interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-raw-response:
      - raw
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-NY/historic/2024/1/1?cat=species&detail=full&r=L2987624&rank=create
  response:
    body:
      string: '[{"speciesCode":"amhgul1","comName":"American Herring Gull","sciName":"Larus
        smithsonianus","locId":"L2987624","locName":"McGolrick Park","obsDt":"2024-01-01
        10:38","howMany":1,"lat":40.7245046,"lng":-73.9433616,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S157715430","subnational2Code":"US-NY-047","subnational2Name":"Kings","subnational1Code":"US-NY","subnational1Name":"New
        York","countryCode":"US","countryName":"United States","userDisplayName":"June
        Ap","obsId":"OBS1912053412","checklistId":"CL23822","presenceNoted":false,"hasComments":false,"firstName":"June","lastName":"Ap","hasRichMedia":false},{"speciesCode":"dowwoo","comName":"Downy
        Woodpecker","sciName":"Dryobates pubescens","locId":"L2987624","locName":"McGolrick
        Park","obsDt":"2024-01-01 10:38","howMany":1,"lat":40.7245046,"lng":-73.9433616,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S157715430","subnational2Code":"US-NY-047","subnational2Name":"Kings","subnational1Code":"US-NY","subnational1Name":"New
        York","countryCode":"US","countryName":"United States","userDisplayName":"[...]
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-raw-response:
      - raw
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-NY/historic/2024/1/6?cat=species&detail=full&r=L2987624&rank=create
  response:
    body:
      string: '[{"speciesCode":"rocpig","comName":"Rock Pigeon","sciName":"Columba
        livia","locId":"L2987624","locName":"McGolrick Park","obsDt":"2024-01-06 09:10","lat":40.7245046,"lng":-73.9433616,"obsValid":true,"obsReviewed":false,"locationPrivate":false,"subId":"S158247345","exoticCategory":"N","subnational2Code":"US-NY-047","subnational2Name":"Kings","subnational1Code":"US-NY","subnational1Name":"New
        York","countryCode":"US","countryName":"United States","userDisplayName":"Greg
        Thornberg","obsId":"OBS1917095774","checklistId":"CL23822","presenceNoted":true,"hasComments":false,"firstName":"Greg","lastName":"Thornberg","hasRichMedia":false},{"speciesCode":"moudov","comName":"Mourning
        Dove","sciName":"Zenaida macroura","locId":"L2987624","locName":"McGolrick
 [...]
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-ebirdapitoken:
      - v37441odb61v
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 0.1.0-alpha.2
      x-stainless-raw-response:
      - raw
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.12.3
    method: GET
    uri: https://api.ebird.org/v2/data/obs/US-NY/historic/2024/2/30?cat=species&detail=full&r=L2987624&rank=create
  response:
    body:
      string: '{"errors":[{"status":"500","code":"http.status.500","title":"PreparedStatementCallback;
        SQL  ERROR: date/time field value out of range: \"2024-2-30\"\n  Position:
        690; nested exception is org.postgresql.util.PSQLException: ERROR: date/time
        field value out of range: \"2024-2-30\"\n  Position: 690"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 500
      message: Internal Server Error
[...]
